body{
    background-color: rgb(98, 98, 238);
    display: flex;
    align-items: center;
    height: 100vh;

}
.container{
    color: white;
    align-items: center;
    transform: translateX(-80px); 
   
}
.heading{
    margin-bottom: 500px;
    transform: translateX(560px); 
    font-size:50px;
   
}
.digit{
    font-size: 200px;
    font-weight: bold;
}
.text{
    font-size: 33px;
}
.button-container{
    text-align: center;
    
}

.btn1{
    margin-right: 340px;
    background-color:#32e19e;
    color: white;
    border: 3px;
    width: 60px;
    padding: 5px;
   border-radius: 5px;
 
}
.btn2{
    transform: translateX(-130px);
    background-color:#3498db;
    color: white;
    border: 3px;
    width: 60px;
    padding: 5px;
   border-radius: 5px;
}
.btn3{
 
  transform: translateX(140px); 
  background-color:#e82020;
  color: white;
  border: 3px;
  width: 60px;
  padding: 5px;
 border-radius: 5px;
    
}
.digit{
    color: #b0a3a3;
}